<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/fonts/iconic/font/iconic%20fill/iconic_fill.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/less/jquery-ui-1.10.4.custom.css" />
    <link rel="stylesheet/less" type="text/css" href="/static/less/page.less" />

    <script type="text/javascript" src="/static/js/vendor/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/static/js/vendor/jquery-ui-1.10.4.custom.js"></script>
    <script type="text/javascript" src="/static/js/vendor/less-1.6.3.min.js"></script>
    <script type="text/javascript" src="/static/js/vendor/underscore-min.js"></script>
    <script type="text/javascript" src="/static/js/vendor/backbone-min.js"></script>
    <script type="text/javascript" src="/static/js/app/utils.js"></script>
    <script type="text/javascript" src="/static/js/app/models/item.js"></script>
    <script type="text/javascript" src="/static/js/app/models/item_status.js"></script>
    <script type="text/javascript" src="/static/js/app/models/city.js"></script>
    <script type="text/javascript" src="/static/js/app/views/item.js"></script>
    <script type="text/javascript" src="/static/js/app/views/item_status.js"></script>
    <script type="text/javascript" src="/static/js/app/views/city.js"></script>
    <script type="text/javascript" src="/static/js/app/client.js"></script>
    <script type="text/javascript" src="/static/js/app/map.js"></script>

    <!--<script type="text/javascript"-->
      <!--src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3ObXCUOYqdRUif0DQRWoOcRCJKH9Mvvo&sensor=false">-->
    <!--</script>-->
</head>
<body>
    <div class="overlay" style="display:none;"></div>
    <h1>Admin Console</h1>
    <div class="refresh"><span class="iconic reload"></span>refresh</div>
    <div class="counter">
        <span class="total-items"><%= itemsCount %></span> items <br />
    </div>
    <div class="legend">
        <span class="iconic target"></span> = Action Required By Loser
    </div>
    <div class="container">
        <!-- Locations go here -->
        <div class="locations-container">
            <nav>
            </nav>
        </div>

        <!-- Completion states go here -->
        <div class="states-container">
            <div class="states-header">
                <nav>
                </nav>
            </div>
            <div class="results">
                <div class="results-table">
                    <div class="results-header">
                        <div class="result-item">City</div>
                        <div class="result-item">Description</div>
                        <div class="result-item">Identifying Characteristics</div>
                        <div class="result-item">Filed Date</div>
                        <div class="result-item">Lost Date</div>
                        <div class="result-item">Sourcing Attempts</div>
                        <div class="result-item">Flags</div>
                    </div>
                    <div class="results-body">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="popup"><!-- popups will go here --></div>
</body>
</html>