/*****----- Icon Fonts -----*****/
.iconic {
    &.target { color:@red; }
}



/*****-----< Colors >-----*****/
@light-gray: #eee;
@gray: #999999;
@dark-gray: #454647;
@darkmed-gray: #303233;
@darker-gray: #2a2c2d;
@purple-link: #91abd6;
@purple-white: #e8e1ed;
@vibrant-purple: #8226b7;
@royal-purple: #440666;
@yellow: #f9f190;
@green: #88cea0;
@red: #e24000;





/*****-----< Font Sizes >-----*****/
.gigantic_font { font-size:50px; }
.larger_font { font-size:26px; }
.medium_font { font-size:20px; }
.smaller_font { font-size:16px; }
.small_font { font-size:12px; }





/*****-----< Font Familys >-----*****/
.audiowide_family {  font-family: 'Audiowide', cursive; }
.alegraya_family(@font-weight:400) { font-family: 'Alegreya Sans SC', sans-serif; font-weight:@font-weight !important; }





/*****-----< General >-----*****/
.ui-draggable-dragging { background:@vibrant-purple; color:white; width:30%; }
a { color:@purple-link; }
.res { display:inline-block; padding:7px; border-radius:10px; color:white; margin:0 3px; cursor:pointer;
    &.success { background:@green; }
    &.unknown { background:@yellow; }
    &.failure { background:@red; }
}
.gmap-container { height:100px;
    #map-canvas { height: 100% }
}




body { background:@dark-gray; .alegraya_family();
    .overlay { position:fixed; top:0; left:0; height:100%; width:100%; z-index:5; background:black; opacity: .7;}
    h1 { .audiowide_family; .gigantic_font; text-align:center; color:@purple-white; }
    .counter, .refresh { position:absolute; top:0; right:20px; color:@purple-white;
        span { font-size:30px; }
        &.refresh { left:20px; top:20px; cursor:pointer;
            span { padding-right:10px; }
        }
    }
    .legend { position:absolute; top:40px; right:20px; color:white; }
    .container { margin:30px auto 0px auto; width:99%;
        .locations-container {
            span.purple-link { color:@purple-link; margin-right:10px; .smaller_font; cursor:pointer;
                &.selected { font-weight:bold;  .larger_font; }
                &.extra-loc { display:none; }
            }
        }
        .states-container { border:solid 1px @yellow; width:90%; margin:50px auto;
            .states-header { background:@darker-gray; text-align:center;
                nav { border-bottom:solid 1px; display:table; width:100%;
                    a.state-btn { padding:15px 15px; text-decoration:none; color:@green; .medium_font; display:table-cell;
                        &:first-child { border-left:none; }
                        &.selected { background:@purple-white; color:@darker-gray; }
                    }
                }
            }
            .results {
                h3 { color:@purple-white; }
                .results-table { display:table; width:100%;
                    .results-header { display:table-header-group; background:@darkmed-gray;
                        .result-item { display:table-cell; .audiowide_family; color:@purple-white; border-bottom:solid 1px black; padding:15px; }
                    }
                    .results-body { display:table-row-group;
                        div.result { border-bottom:solid 2px white; color:@purple-white; padding:15px; cursor:pointer; display:table-row;
                            &:hover { background:@darker-gray; }
                            &.selected { background:white; color:black; }
                            .result-item { display:table-cell; }
                        }
                    }
                }
            }
        }

        .gmap-container { height:400px; }
    }
    .popup { display:none; margin:auto; position:fixed; top:0; left:0; bottom:0; right:0; width:50%; height:400px; background:white; overflow-y:scroll; overflow-x:hidden; z-index:10;
        .item-details { color:black; cursor:auto; padding:3px 0px 20px 0px; border:solid 2px black; height:600px; border-bottom:none; overflow-y:scroll;
            h3 { .audiowide_family; background:@darker-gray; color:@green; margin:2px; padding:15px; cursor:pointer; }
            table { width:100%; display:none;
                thead th { .audiowide_family; color:@purple-white; background:@darkmed-gray; padding:5px; }
                tbody td { text-align:center;
                    .btn { display:inline-block; padding:7px; border-radius:10px; color:white; margin:0 3px; cursor:pointer;
                        &:hover { opacity:.8; }
                        &:focus { background:@darker-gray; }
                        &.success { background:@green; }
                        &.unknown { background:@yellow; }
                        &.failure { background:@red; }
                    }
                }
            }
            .actions-container { padding-left:15px;
                label { padding-right:10px; }
                input { height:30px; width:50%; margin-right: 20px; }
                .btn { display:inline-block; padding:10px; border-radius:5px; color:white; cursor:pointer; background:@purple-link;
                    &:hover { opacity:.8; }
                }
            }
        }
    }
}