<div class="item-details">
    <h3>User Information</h3>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= item.loser_name %></td>
                <td><%= item.loser_email %></td>
                <td><%= item.loser_phone %></td>
            </tr>
        </tbody>
    </table>

    <h3>Nearby Companies</h3>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Sourcing Attempts</th>
                <th>New Attempt</th>
            </tr>
        </thead>
        <tbody>
            <% _.each(companies, function(company) { %>
            <tr data-id="<%= company.id %>">
                <td><%= company.name %></td>
                <td><%= company.email %></td>
                <td><%= company.phone %></td>
                <td><% _.each(company.sourcing_attempts, function(att) { %><div class="res <% if (att.success) { %>success<% } else if (att.success === null) { %>unknown<% } else { %>failure<% } %>"></div> <% }); %></td>
                <td><div class='btn success' data-result="success">s</div><div class='btn unknown'>i</div><div class='btn failure' data-result="failure">f</div></td>
            </tr>
            <% }); %>
        </tbody>
    </table>

    <h3 class="nearby-items-header">Nearby Found Items (click to show)</h3>
    <table class="nearby-items" style="display:none;">
        <thead>
            <tr>
                <th>Finder</th>
                <th>Color</th>
                <th>Type</th>
                <th>Identifying Characteristics</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <h3>Messages</h3>
    <% if (messages.length > 0) { %>
    <table>
        <thead>
            <tr>
                <th>Commenter</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            <% _.each(messages, function(message) { %>
            <tr>
                <td><% if (message.commenter) { %><%= message.commenter.name %><% } else { %><%= item.loser_name %><% } %></td>
                <td><%= message.message %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <% } %>
    <h3>Status Url <a href="http://www.back-step.com<%= item.status_url %>" target="_blank">here</a></h3>
</div>
