<div class="result-item"><%= city.name %></div>
<div class="result-item"><%= description %></div>
<div class="result-item"><%= identifying_characteristics %></div>
<div class="result-item"><%= filed_datetime %></div>
<div class="result-item"><%= approximate_lost_datetime %></div>
<div class="result-item"><% _.each(sourcingAttempts, function(att) { %><%= att.render() %><% }); %></div>
<div class="result-item">
    <% if (action_required) { %><span class="iconic target"></span><% } %>
    <% if (foundItems && foundItems.length > 0) { %><span class="iconic pin"></span><% } %>
</div>
